@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_Exercise</title>

    <!-- 1. Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-O3nyA8dHQ0sjjcxu5xvZrsZaNpP4PwVvh0UMUq5c6S3mFmE+4W0F5DvSlMZ2DFE0VRxu7F0dTjHqHFLW6m8kWw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- 2. Nucleo Icons (Required for those sidebar squares) -->
    <link href="~/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/assets/css/nucleo-svg.css" rel="stylesheet" />

    <!-- 3. Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="~/assets/css/nucleo-svg.css" rel="stylesheet" />

    <!-- 4. Main Argon Dashboard CSS (This replaces the CDN link) -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link id="pagestyle" href="~/assets/css/argon-dashboard-tailwind.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />

</head>
<body class="bg-indigo-50">
    <!-- sidenav  -->
    <aside class="fixed inset-y-0 flex-wrap items-center justify-between block w-full p-0 my-4 overflow-y-auto antialiased transition-transform duration-200 -translate-x-full bg-white border-0 shadow-xl dark:shadow-none dark:bg-slate-850 max-w-64 ease-nav-brand z-990 xl:ml-6 rounded-2xl xl:left-0 xl:translate-x-0" aria-expanded="false">
        <div class="h-19">
            <i class="absolute top-0 right-0 p-4 opacity-50 cursor-pointer fas fa-times dark:text-black text-slate-400 xl:hidden" sidenav-close></i>
            <div class="block px-8 py-6 m-0 text-sm whitespace-nowrap dark:text-black text-slate-700">
                <img src="~/assets/img/logo-ct-dark.png" class="inline h-full max-w-full transition-all duration-200  ease-nav-brand max-h-8" alt="main_logo" />
                <img src="~/assets/img/logo-ct.png" class="hidden h-full max-w-full transition-all duration-200  ease-nav-brand max-h-8" alt="main_logo" />
                <span class="ml-1 font-semibold transition-all duration-200 ease-nav-brand">Invoice Project</span>
            </div>
        </div>

        <hr class="h-px mt-0 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent" />

        <div class="items-center block w-auto max-h-screen overflow-auto h-sidenav grow basis-full">
            <ul class="flex flex-col pl-0 mb-0">
                <li class="mt-0.5 w-full">
                    <a asp-controller="Home" asp-action="Index" class="py-2.7 bg-blue-500/13 dark:text-black dark:opacity-80 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 font-semibold text-slate-700 transition-colors">
                        <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
                            <i class="relative top-0 text-sm leading-normal text-blue-500 ni ni-tv-2"></i>
                        </div>
                        <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Dashboard</span>
                    </a>
                </li>

                <li class="mt-0.5 w-full">
                    <a class=" dark:text-black dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors" asp-controller="Product" asp-action="Index">
                        <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
                            <i class="relative top-0 text-sm leading-normal text-orange-500 ni ni-calendar-grid-58"></i>
                        </div>
                        <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Products</span>
                    </a>
                </li>

                <li class="mt-0.5 w-full">
                    <a class=" dark:text-black dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors" asp-controller="Party" asp-action="Index">
                        <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
                            <i class="relative top-0 text-sm leading-normal text-orange-500 ni ni-calendar-grid-58"></i>
                        </div>
                        <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Party</span>
                    </a>
                </li>

                <li class="mt-0.5 w-full">
                    <a class=" dark:text-black dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors" asp-controller="Invoice" asp-action="Index">
                        <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
                            <i class="relative top-0 text-sm leading-normal text-orange-500 ni ni-calendar-grid-58"></i>
                        </div>
                        <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Invoice</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>

    <!-- end sidenav -->
    <div class="absolute w-full bg-indigo-500 min-h-40"></div>

    <main class="relative h-full max-h-screen transition-all duration-200 ease-in-out xl:ml-68 rounded-xl">
        <!-- Navbar -->
        <nav class="relative flex flex-wrap items-center justify-end px-0 py-2 mx-6 transition-all ease-in shadow-none duration-250 rounded-2xl lg:flex-nowrap lg:justify-end" navbar-main navbar-scroll="false">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="flex gap-5 p-5">
                    @if (User.IsInRole("Admin"))
                    {
                        <h3 class="text-white dark:text-white">Admin Panel</h3>
                    }
                    <h3 class="text-white dark:text-white">Role: @string.Join(",", User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value))</h3>
                    <h3 class="text-white dark:text-white">Hello, @User.Identity.Name</h3>
                    <a asp-action="Logout" asp-controller="Account" class="text-white dark:text-white">Logout</a>
                </div>
            }
            
        </nav>
        <!-- end Navbar -->

        <div class="p-10">@RenderBody()</div>
    </main>

    <!-- Core JS Files -->
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="~/assets/js/plugins/chartjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Control Center for Argon Dashboard -->
    <script src="~/assets/js/argon-dashboard-tailwind.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#productTable').DataTable({
                searching: true,     // search box
                ordering: true,      // sorting
                paging: true,        // pagination
                pageLength: 5,       // rows per page
                lengthChange: true,  // show entries dropdown
                info: true,          // "Showing X of Y entries"
                columnDefs: [
                    { orderable: false, targets: 2 } // Disable sorting for Action column
                ]
            });
        });
        $(document).ready(function () {
            $('#partyTable').DataTable({
                searching: true,     // search box
                ordering: true,      // sorting
                paging: true,        // pagination
                pageLength: 5,       // rows per page
                lengthChange: true,  // show entries dropdown
                info: true,          // "Showing X of Y entries"
                columnDefs: [
                    { orderable: false, targets: 1 } // Disable sorting for Action column
                ]
            });
        });
        $(document).ready(function () {
            $('#invoiceTable').DataTable({
                searching: true,     // search box
                ordering: true,      // sorting
                paging: true,        // pagination
                pageLength: 5,       // rows per page
                lengthChange: true,  // show entries dropdown
                info: true,          // "Showing X of Y entries"
                columnDefs: [
                    { orderable: false, targets: 5 } // Disable sorting for Action column
                ]
            });
        });
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
